.navbar-brand img{
    width:90px;}
  .nav-link{
    font-size: 22px;
    font-weight: 400;
  }    
  .container{
    margin-bottom: 20px;
  }
  .btn-dark{
    margin-top: 20px;
  }
  .card img{
    width: 200px;
  }
  .card{
    border-radius: none;
    border:none;
    box-shadow:5px 5px 10px lightgray;
    padding-left: 30px;
  }
  .card-footer{
    background-color: white;
    border:none;
  }
  .last img{
    width:500px;
  }